@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root{
    --header-height: 3rem;
    --nav-width: 68px;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.contenert{
    position: relative;
    margin: var(--header-height);
    font-size: 1rem;
}
